body{
    margin: 0%;
    padding: 0%;
    background-color: #2d3a3d;
    color: #fff;
    /* font-family: "Poppins"; */
    height: 100vh;
}
.message{
    margin: 5em 0 2em;
    text-align: center;
    font-size: 30px;
}
.images{
    display: flex;
    align-items:center ;
    justify-content: space-around ;
    text-align: center;
    height: 200px;
}
.computer img,
.player img{
    width:75%;
}
/* animation */
.computerShake{
    animation:shakesForComputer 0.8s linear  ;
}

.playerShake{
    animation:shakesForPlayer 0.8s linear  ;
}

.points{
    margin:2em 0;
    text-align: center; 
}
.computerPoints{
    margin-left: 3em;
}
.playerPoints{
    margin-right: 3em;
}
.options{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
}
.options button{
    background:  none;
    color:#fff;
    /* font-family: "Poppins"; */
    border:1px solid #fff;
    padding :1em 2em;
    font-size: 20px;
    border-radius: 7px;
    /* width:150px;     */
    white-space: nowrap;
    cursor: pointer;
    outline: none;  
    transition: 0.2s all linear;
}

.options button:hover{
    background-color: darkcyan;
    border: 1px solid darkcyan;

}


@keyframes shakesForComputer{
    0%{
        transform: rotate(-30deg);
    }

    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);   
    }
    100%{
        transform: rotate(0deg);
    }
}


@keyframes shakesForPlayer{
    0%{
        transform: rotate(30deg);
    }

    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);   
    }
    100%{
        transform: rotate(0deg);
    }
}